@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:rgb(123, 3, 105);
    --secondary-text-color:rgb(17, 184, 225);
    --accent-color-dark : rgb(4, 60, 78);
    --padding-inline-section: 20px;
}
body{
    font-family:'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-text-color)
}
h1{
    font-size:3rem;
}
h2{
    font-size:2.5rem;
}
h3{
    font: size 1.5rem;
    margin-bottom:17px;
   /* margin-top: 10px;*/
}
h4{
    font: size 0.5rem; 
}
p{
    font-family:'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
/*utility class*/
.small-bold-text{
  font-size: 1.5rem;
  font-weight: 700;  
}
.container{
    margin-inline:130px;
    padding-inline: auto;
    padding-inline:var(--padding-inline-section);
}
 .flex{
    display: flex;
    align-items: center;
 } 
 
 
 .hover-link{
color: var(--primary-text-color);
transition: 0.2s ease-out;
 }

 .hover-link:hover{
    color: var(--accent-color);
 }
.primary-button{
    background-color: var(--accent-color);
   /* border-radius: 6px;
    font-weight: 700;
    color:aliceblue !important;
    padding: 12px 24px;
    box-shadow:0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;*/
}
.secondary-button{
    border:0.5px solid var(--secondary-text-color);
    border-radius:6px;
    font-weight:700;
    color: var(--primary-text-color)!important;
    padding:12px 24px;
    transition: 0.2s ease-out;

}
.secondary-button:hover{
    border-color: var(--accent-color);
}



/*top banner*/
.top-banner{
  /*  background-color: aqua;*/
    background-image: url('./asset\ 32.jpeg') ;
    background-size: 350px;
    /*background-repeat:no-repeat;*/
}
.banner-text{
    color:aliceblue;
    padding: 15px,30px;
    text-align:center;
}
/*nav bar*/
.main-nav{
    
margin-top: 30px;
justify-content: space-between;
   
}
.company-logo img{
    width:300px
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content : end;
    gap: 40px;
}
/* header section*/
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap:50px; /*image aur design confidently wale k.. bich mei gap aa jaye! */
}
.header-left h1{
    margin: top 20px;/* left wale image upar se 20 px niche aa jaye*/
}
.get-started-btn{
    margin-top:20px;
}
.header-right img{
    width: 600px
}
/*companies section*/
.companies-header{
    text-align: center;
    margin-block: 30px;
    color:var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 86px;
}
/* features section */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
  /*  background-image:url(sh.png) ;
    background-repeat:no-repeat;
    background-size:1200px;
    background-position: center;*/
}
/*.features-header{
    text-align:center;
}
.features-header */
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:40px;
    margin-top: 20px;
}
.features-card{
    flex-direction:column;
    gap: 10px;
    max-width:30%;
   text-align:center;

}
.icon{
    height:50px;
}
/*big feature section*/
.big-feature-section{
    padding:30px var(--padding-inline-section) 0;/*bottom se zero hai!*/


}
.big-feature-container{
    gap :30px;

}
.feature-img img{
    width:100%;
}
.feature-desc{
    flex-direction:column;
    align-items: flex-start;
}
.features-header,.examples-header{
text-align:center;
}
/*examples-section*/
.exaples-heading-text{
    margin-top: 0;
    margin-bottom: 20px;
}
.examples-card{
    width:23%;
    position: relative;
    min-height: 300px;
    background:black;
    background: linear-gradient(rgb(8, 0, 0), rgb(0, 0, 0));
    background-size: cover;
    transition:0.2s ease-out;
}
.examples-card:hover{
    box-shadow: rgb(225, 225, 166);
}
.examples-card:nth-child(3){
    background:linear-gradient(rgb(0, 0, 0)),rgb(0, 0, 0);
    background-size: cover;
}
    .examples-card:nth-child(4){
        background:linear-gradient(rgb(0, 0, 0)),rgb(0, 0, 0);

background-size: cover;
    }
    

.card-text{
position: absolute;
bottom:20px;
left:20px;
right:20px;
color:white;
}
/*CTA section*/
.cta-section-container{
    flex-direction:column;
    gap:30px;
    color: white;
}
.cta-section{
    padding: 120px var(--padding-inline-section);
    background-color:#183b54;
}
.cta-section-container p{
    color: aliceblue;
    margin-top: 20px;

}
/*footer*/
footer{
    padding-block: 80px;
    background-color:#ebf2fa;
}
.link-column{
    flex-direction:column;
    align-items:flex-start;
    gap:30px;
    justify-content: space-evenly;
    
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}